/* LinesOfBusinessComponent's private CSS styles */
.recentQuotes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 35em;
}



.recentQuotes li {
  position: relative;
  cursor: pointer;
}

.recentQuotes li:hover {
  left: .1em;
}
.table{

}
.tr,th,td{
  border: 1px solid #dddddd;


}
tr:nth-child(even) {
  background-color: #dddddd;
}
.recentQuotes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.recentQuotes a:active {
  background-color: #525252;
  color: #fafafa;
}
